@font-face {
    font-family: 'inter_variable';
    src: url('../assets/fonts/inter_variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'inter_variable', sans-serif;
    background-image: url("../assets/images/bg_common.webp");
}

.options_container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.option_block {
    width: 500px;
    height: 100px;
    display: flex;
    transform: translateX(-100px);
}

.option_image_container {
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.option_image {
    margin-right: 10px;
    height: 100%;
}

.option_title {
    font-size: 32px;
    text-align: left;
}

.option_desc {
    margin-top: 5px;
    text-align: left;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #666;
}

a:active {
    color: #333;
}